@import "variables";
@import "navbar";
@import "banner";
@import "donec";
@import "retina";
@import "services";
@mixin defualt-items (){ color: #666666;background-color: #f2f2f2; font-family: 'Open Sans', sans-serif;}
.our-services-wrapper { @include defualt-items(); border-top: 10px #ccc solid;}
.right-side-image img { margin: 0 0 0 auto; display: block;}


